#show-values {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}

header {
    text-align: center;
}

body>main>article {
    text-align: center;
}

footer {
    color: #fff;
    background-color: rgb(21, 43, 117);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 97%;
    flex-direction: column;
    padding: 20px;
}

footer>span {
    position: relative;
    top: 30px;
    font-weight: 30;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 500px;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}

input {
    border-radius: 25px;
    border-color: rgb(238, 238, 238);
    height: 25px;
}

button {
    border-radius: 40px;
    height: 40px;
    width: 100px;
    background-color: rgb(21, 43, 117);
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.success-record {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(202, 255, 211);
    color: rgb(17, 71, 30);
}

.success-record > div {
    display: inline-block;
}

.success-record > div > svg {
    position: relative;
    top: 2px;
    left: 5px;
    cursor: pointer;
}
#success-record-msg {
    display: none;
}